@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffff;
  --foreground: #171717;
  --black: #000;
}

body {
  color: var(--black);
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 2rem;
  font-weight: 700;
      
}