@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handlee&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffff;
  --foreground: #171717;
  --black: #000;
}

body {
  font-family: "Inter", serif;
  color: var(--black);
  background-color: var(--background);
}

.fist-section {
  background-image: url("../../public/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Syne", serif;
  font-size: 7.5rem;
  font-weight: 700;
  line-height: 0.9;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

.social-media {
  font-family: "Handlee", serif;
  font-size: 1.5rem;
  font-weight: 500;
}
.social-media li,
.social-media a {
  background-color: var(--black);
  padding: 0 0.5rem;
}

/* HTML: <div class="loader"></div> */
.loader {
  height: 60px;
  aspect-ratio: 2;
  border-bottom: 3px solid #0000;
  background: linear-gradient(90deg, #524656 50%, #0000 0) -25% 100%/50% 3px repeat-x
    border-box;
  position: relative;
  animation: l3-0 0.75s linear infinite;
}

.loader:before {
  content: "";
  position: absolute;
  inset: auto 42.5% 0;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  animation: l3-1 0.75s cubic-bezier(0, 900, 1, 900) infinite;
}
@keyframes l3-0 {
  to {
    background-position: -125% 100%;
  }
}
@keyframes l3-1 {
  0%,
  2% {
    bottom: 0%;
  }
  98%,
  to {
    bottom: 0.1%;
  }
}

/*2 button*/
.fill-right {
  position: relative;
  overflow: hidden;
}

.fill-right:hover {
  color: #000;
  transition: color 0.5s ease;
  transition: all 1s ease;
}

.fill-right:before {
  content: attr(data-content);
  position: absolute;
  overflow: hidden;
  text-wrap: nowrap;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  color: #000;
  text-decoration: underline;
  background-color: #fff;
  transition: all 1s ease;
}

.fill-right:hover:before {
  padding: 0 0.5rem;
  width: 100%;
  opacity: 0.95;
}



::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}


